<%= render "flash_messages/notice" %>

<div class="row">
  <div class="span12 offset2 title">
    <%=@user.username %> - <a id="karma-count" rel="popover" data-original-title="Karma" data-content="How awesome you are. If you have little or no karma, don't worry! Add songs that people love (and will vote on) and watch yourself become a karma king!"><%= @user.karma %></a>
  </div>
</div>

<div class="row">
  <div class="span12 offset2 rake-header">

    <% if @user == current_user %>
      <h1>My Rakes</h1>
    <% else %>
      <h1><%= @user.username%>'s Rakes</h1>
    <% end %>
  </div>
</div>

<% if @playlists.length > 0 %>

<div class="row">
  <div class="span12 offset2">
    <% @playlists.each do |playlist| %>
      <%= render :partial => "playlists/playlist", :locals => {:playlist => playlist, :view => "user#show"} %>
    <% end %>
  </div>
</div>
  
<% else %>

  <% if current_user == @user %>

  <div class="row">
    <div class="span12 offset2">
      <div class="songrake-text no-rakes-text">
        You haven't joined or created any rakes yet :(
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12 offset2 no-rakes-buttons">
      <%= link_to "Browse existing Rakes", playlists_path, :class=>"btn primary"%>
      <div id="create-btn"
           class="btn secondary"
           data-controls-modal="playlist-form-modal"
           data-backdrop="true"
           data-keyboard="true">Create a Rake</div>
    </div>
  </div>

  <% else %>

  <div class="row">
    <div class="span12 offset2">
      <div class="songrake-text no-rakes-text">
        <%= @user.username %> hasn't joined or created any rakes yet.
      </div>
    </div>
  </div>

  <% end %>

<% end %>

<script type="text/javascript">
  $('#karma-count').popover({
    offset: 20
  })

  $('.join-playlist-btn').popover({
    offset: 10,
    placement: "below"
  })
</script>
