<p id="notice"><%= notice %></p>

<br><br>
<h3>Me</h3>
<div class="row">
  <div class="span2"><b>Username:</b></div>
  <div class="span5"><%= @user.username %></div>
</div>
<div class="row">
  <div class="span2"><b>Email:</b></div>
  <div class="span5"><%= @user.email %></div>
</div>

<br><br>
<% if show_created_playlists %>
<h3>My Created Playlists</h3>
  <table>
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <% @created_playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= link_to "show", playlist_path(playlist.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<br><br>
<% if show_joined_playlists %>
<h3>My Joined Playlists</h3>
  <table>
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <% @joined_playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= link_to "show", playlist_path(playlist.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to "Create new playlist", new_playlist_path, :class => "btn"%>