<%= render "flash_messages/notice" %>

<div class="row">
  <div class="span12 offset4 title">
    My Rakes
  </div>
</div>

<div class="row">
  <div class="span4">
    <div class="sidebar">
      <div class="row"><div class="span4"><h1>Me</h1></div></div>
      <div class="row"><div class="span4"><b>Username:</b>&nbsp;&nbsp;<%= @user.username %></div></div>
      <div class="row"><div class="span4"><b>Email:</b>&nbsp;&nbsp;<%= @user.email %></div></div>
      <div class="row"><div class="span4"><b>Karma:</b>&nbsp;&nbsp;<%= @user.karma %></div></div>
    </div>
  </div>
  <div class="span12">
    <table>
      <tbody>
      <% @playlists.each do |playlist| %>
        <tr>
          <%= render :partial => "playlists/playlist", :locals => {:playlist => playlist, :view => "user#show"} %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
