<%= render "flash_messages/notice" %>

<section id="header-section">
  <div class="row banner">
    <div class="span12 innerbanner">
      <div class="row">
        <div class="span8">
          <div class="logo">
              <h1>SongRake</h1>
          </div>
        </div>
        <div class="span1">
          <div id="signup-section">
            <h4 class="note">New to SongRake? Signup today!</h4>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <%= f.text_field :username, :type => "text", :placeholder => 'Username', :class => "input" %>
              <%= f.text_field :email, :type => "text", :placeholder => 'Email', :class => "input" %>
              <%= f.text_field :password, :type => "password", :placeholder => 'Password', :class => "input" %>
              <%= f.text_field :password_confirmation, :type => "password", :placeholder => 'Confirm Password', :class => "input" %>
              <div><%= f.submit 'Signup', :class => "btn primary", :id => "signup-button"%></div>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="playlists-section">
  <div class="row">
    <div class="span12 offset4">
      <div class="row">
        <div class="home-title">Browse Rakes</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12 offset2">
      <% @playlists.each do |playlist| %>
        <%= render :partial => "playlists/playlist", :locals => {:playlist => playlist, :view => "home#index"} %>
      <% end %>
    </div>
  </div>
</section>




