<div class="row">
	    		    <div class="span16">
	    		    	<div class="row">
	    		    		<div class="span6">
	    		    			<h2>Welcome to SongRake!</h2>
	    		    			
	    		    			<h4>
	    		    			<ol>
	    		    			<li>Add songs to request list</li>
	    		    			<li>Fast & Efficient</li>
	    		    			<li>Make hour holiday party a breeze & fun</li>
	    		    			<li>Keep your DJ in the know</li>
	    		    			</ol>
	    		    			</h4>
	    		    		</div>
	    		    		<div class="span6">
	    		    		<div id="grabber" style="margin-left: 200px">
	    		    		<h3>Sign up!</h3>
	    		    		</div>
	    		    			<div id="signup">


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<%= f.button :submit %>
<% end %>
	    		    			</div>
	    		    			
	    		    		</div>

	    		    	</div>
	    		    </div>
</div>
