
<%= render "flash_messages/notice" %>

<div class="row banner">
  <div id="left-header-section" class="span8">
    <h1>SongRake</h1>
    <ol>
      <li>Add songs to request list</li>
      <li>Fast & Efficient </li>
      <li>Make hour holiday party a breeze and fun</li>
      <li>Keep your DJ in the know</li>
    </ol>
  </div>
  <div id="right-signup-section" class="span8">
    <h4 id="signup-header">New to SongRake? Signup today!</h4>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.text_field :username, :type => "text", :placeholder => 'Username', :class => "input" %><br>
      <%= f.text_field :email, :type => "text", :placeholder => 'Email', :class => "input" %><br>
      <%= f.text_field :password, :type => "password", :placeholder => 'Password', :class => "input" %><br>
      <%= f.text_field :password_confirmation, :type => "password", :placeholder => 'Confirm Password', :class => "input" %><br>
      <div><%= f.submit 'Signup', :class => "btn primary", :id => "signup-button"%></div>
    <% end %>
  </div>
</div>





