



<%= simple_form_for(@song) do |f| %>
  <% if @song.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.input :title,:label => 'Song Name', :input_html => { :rows => 1 }%>
  <br/>
  <%= f.input :by, :label => 'Artist', :input_html => { :rows => 1 } %>
  <%= f.button :submit, 'Add Song Request' %>
  
<!--
<div class="addsong">
 
  <div class="title"
    <%= f.label :title %>
    <%= f.text_area :title, rows: 1%>
  </div>
  <br/>
  <div class="by">
    <%= f.label :by %>
    <%= f.text_area :by, rows: 1 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

</div>
-->

<% end %>

