<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="addsong">
 
  <div class="title"
    <%= f.label :title %>
    <%= f.text_area :title, rows: 2 %>
  </div>
  <div class="by">
    <%= f.label :by %>
    <%= f.text_area :by, rows: 2 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

</div>

<% end %>
