<%= simple_form_for(@song) do |f| %>
  <% if @song.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, :label => 'Song Name'%>
  <%= f.input :artist, :label => 'artist'%>
  <% if @playlist %>
    <%= f.hidden_field :playlist_id, :value => @playlist.id %>
  <% else %>
    <%= f.input :playlist_id, :label => 'playlist id' %>
  <% end %>
  <%= f.button :submit, 'Add Song Request', :class => "btn"%>
<% end %>

