
<div class="row">
  <div class="span12">
    <tr>
      <td class="rank">
        <%= song.plusminus %>
      </td>
      <td class="votecell">
        <%= form_tag :controller => "songs", :action => "upvote" do %>
          <%= hidden_field_tag "id", song.id %>
          <%= image_submit_tag("arrow_up.png", :class => 'arrowup') %>
        <% end %>
        <%= form_tag :controller => "songs", :action => "downvote" do %>
          <%= hidden_field_tag "id", song.id %>
          <%= image_submit_tag("arrow_down.png", :class => 'arrowdown') %>
        <% end %>
      </td>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
      <td><%= song.requester.username %></td>
    </tr>
  </div>
</div>
<!--
<div class="row">
  <div class="span2">
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
      <td><%= song.requester.username %></td>
    </tr>
  </div>
</div>
<tr>
  <td><%= song.votes_for %></td>
  <td>
    <%= form_tag :controller => "songs", :action => "upvote" do %>
      <%= hidden_field_tag "id", song.id %>
      <%= image_submit_tag("arrow_up.png", :class => 'arrowup') %>
    <% end %>
    <%= form_tag :controller => "songs", :action => "downvote" do %>
      <%= hidden_field_tag "id", song.id %>
      <%= image_submit_tag("arrow_down.png", :class => 'arrowdown') %>
    <% end %>
  </td>
  <td></td>
  <td><%= song.title %></td>
  <td><%= song.artist %></td>
  <td><%= song.requester.username %></td>
</tr>
-->