<%= render "flash_messages/notice" %>

<section>
  <div class="row">
    <div class="span8 left-col">
      <div class="row">
        <div class="span8">
          <div class="title">Sign up</div>
          <div class="sub-title">Don't have an account? Create one here.</div>
        </div>
      </div>
      <div class="row">
        <div class="span8">

          <%= form_for(resource, :as => resource_name,
                       :url => registration_path(resource_name),
                       :html => {:class => "simple_form" }) do |f| %>

            <div class="input">
              <%= f.label :username %>
              <%= f.text_field :username %>
            </div>

            <div class="input">
              <%= f.label :email %>
              <%= f.email_field :email %>
            </div>

            <div class="input">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>

            <div class="input">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </div>

            <div>
              <%= f.submit "Sign up", :class => "btn primary", :id =>"button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="span8">
      <div class="row">
        <div class="span8">
          <div class="title">Login</div>
          <div class="sub-title">Already have an account? Login here.</div>
        </div>
      </div>
      <div class="row">
        <div class="span8">

          <%= form_for(resource, :as => resource_name,
                       :url => session_path(resource_name),
                       :html => {:class => "simple_form" }) do |f| %>

            <div class="input">
              <%= f.label :email %>
              <%= f.email_field :email %>
            </div>

            <div class="input">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="input">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div>
              <%= f.submit "Login", :class => "btn primary", :id =>"button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

