<%= simple_form_for(@playlist) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description, :input_html => {:rows => 3} %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => "btn primary" %>
  </div>
<% end %>
