<%= simple_form_for(@playlist) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :playlist_type %>
    <%= f.input :creator_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
