<h1>All Rakes</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Creator</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @playlists.each do |playlist| %>
    <tr>
      <td><%= playlist.name %></td>
      <td><%= playlist.description %></td>
      <td><%= playlist.creator.username %></td>
      <td>
        <%= form_tag :controller => "playlists", :action => "join" do %>
          <%= hidden_field_tag "playlist_id", playlist.id %>
          <%= submit_tag "Join Rake", :class => "btn primary"%>
        <% end %>
      </td>
      <td><%= link_to 'Details', playlist %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render "new_user_modal" %>

<!--
Do not need to have a "render form_modal" because we inherit one from
layouts/application.html.erb
-->

<% if flash[:new_user] %>
  <script type="text/javascript">
    $('#new-user-modal').modal({
      backdrop: "static"
    })
    $('#new-user-modal').modal('show')

    $('#browse-btn').click(function() {
      $('#new-user-modal').modal('hide')
    })

    $('#create-btn').click(function() {
      $('#new-user-modal').modal('hide')
      
      $('#playlist_form_modal').modal({
        backdrop: "static"
      })
      $('#playlist_form_modal').modal('show')
    })
  </script>
<% end %>
