<h1>Listing playlists</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @playlists.each do |playlist| %>
    <tr>
      <td><%= playlist.name %></td>
      <td><%= playlist.description %></td>
      <td>
        <%= form_tag :controller => "playlists", :action => "join" do %>
          <%= hidden_field_tag "playlist_id", playlist.id %>
          <%= submit_tag "Join Playlist", :class => "btn"%>
        <% end %>
      </td>
      <td><%= link_to 'Details', playlist %></td>
    </tr>
  <% end %>
  </tbody>
</table>

