<div class="row">
  <div class="span4"><h1>Playlists</h1></div>
  <div class="span4 offset8">
    <%= link_to "Create Playlist", new_playlist_path, :class => "btn create-btn"%>
  </div>
</div>


<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Creator</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @playlists.each do |playlist| %>
    <tr>
      <td><%= playlist.name %></td>
      <td><%= playlist.description %></td>
      <td><%= playlist.creator.username %></td>
      <td>
        <%= form_tag :controller => "playlists", :action => "join" do %>
          <%= hidden_field_tag "playlist_id", playlist.id %>
          <%= submit_tag "Join Playlist", :class => "btn primary"%>
        <% end %>
      </td>
      <td><%= link_to 'Details', playlist %></td>
    </tr>
  <% end %>
  </tbody>
</table>

