<div class="row">
  <div class="span12 offset2">
    <div class="title">All Rakes</div>
  </div>
</div>

<div class ="row">
  <div class="span12 offset2">
    <ul class="tabs">
      <li id="most-popular-tab"><a href="<%= playlists_path %>"><strong>Most Popular</strong></a></li>
      <li id="latest-tab"><a href="<%= playlists_latest_path %>"><strong>Latest</strong></a></li>
      <script type="text/javascript">
        <% if controller.action_name == "latest" %>
          $('#latest-tab').addClass('active');
        <% else %>
          $('#most-popular-tab').addClass('active');
        <% end %>
      </script>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12 offset2">
    <% @playlists.each do |playlist| %>
      <%= render :partial => "playlist", :locals => {:playlist => playlist, :view=> "playlists#show"} %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= will_paginate @playlists %>
</div>

<%= render "new_user_modal" %>

<!--
Do not need to have a "render form_modal" because we inherit one from
layouts/application.html.erb
-->

<script type="text/javascript">
  $(function () {
    $(".join-playlist-btn")
      .popover({
        offset: 10,
        placement: "below"
      });
  })
  
  <% if flash[:new_user] %>
    $('#new-user-modal').modal({
      backdrop: "static"
    })
    $('#new-user-modal').modal('show')

    $('#browse-btn').click(function() {
      $('#new-user-modal').modal('hide')
    })

    $('#create-btn').click(function() {
      $('#new-user-modal').modal('hide')

      $('#playlist-form-modal').modal({
        backdrop: "static"
      })
      $('#playlist-form-modal').modal('show')
    })
  <% end %>
</script>

