<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @playlist.name %>
</p>

<p>
  <b>Description:</b>
  <%= @playlist.description %>
</p>

<p>
  <b>Type:</b>
  <%= @playlist.type %>
</p>

<p>
  <b>Creator:</b>
  <%= @playlist.creator_id %>
</p>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
