
<%= render "flash_messages/notice" %>

<div class="row">
  <div class="span13">
    <h1><%= @playlist.name %></h1>
  </div>
  <div class="span2">
    <%= form_tag :controller => "playlists", :action => "join" do %>
    <%= hidden_field_tag "playlist_id", @playlist.id %>
    <%= submit_tag "Become A Raker", :class => "btn primary"%>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <h3>By &nbsp;&nbsp;<%= link_to "#{@creator.username}", user_profile_path(@creator.id) %></h3>
  </div>
</div>

<div class="row">
  <div class="songs-rakers span4">
    <%= @playlist.song_count %> Songs |
    <%= @playlist.user_count %> Rakers
  </div>
  <div id="add-song-bar" class="span10 offset1">
    <% if playlist_member_or_creator?(@playlist) %>
      <%= render "songs/form" %>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="span4">
    <div class="sidebar">
      <div class="row">
        <div class="span4">
          <h3>Rakers</h3>
            <table class="rakers">
              <tbody>
              <% @members.each do |m| %>
                <tr><td><%= link_to "#{m.username}", user_profile_path(m.id) %></td></tr>
              <% end %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="span12">
    <div class="row song-table-title">
      <div class="span4 offset1"><p>Song Name</p></div>
      <div class="span4"><p>Artist</p></div>
      <div class="span3"><p>Requester</p></div>
    </div>
    <div class="row">
      <div class="span12">
        <% @playlist.songs.each do |s| %>
          <div class="<%= cycle('odd_song', 'even_song')%> playlist-song-item">
            <%= render :partial => "songs/song", :locals => {:song => s} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
