<% content_for :title, "#{@playlist.name}" %>

<!-- Share buttons -->
<div class="addthis-container">
  <div class="addthis_bar addthis_bar_vertical addthis_bar_large">
    <div class="addthis_toolbox addthis_default_style">
      <span><a class="addthis_button_facebook_like" fb:like:layout="box_count"></a></span>
      <span><a class="addthis_button_tweet" tw:count="vertical"></a></span>
      <span><a class="addthis_button_google_plusone" g:plusone:size="tall"></a></span>
      <span><a class="addthis_counter"></a></span>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f33281016cc9025"></script>

<!-- Page Header -->

<div class="row">
  <div class="span16 page-header">
    <div class="playlist-show-title"><%= @playlist.name %></div>
  </div>
</div>

<div class="row">
  <div class="span12 sub-title">
    By &nbsp;&nbsp;<%= link_to "#{@creator.username}", user_profile_path(@creator.id) %>
  </div>
  <div class="span4 sub-title">
    <%= @playlist.song_count %> Songs |
    <%= @playlist.member_count %> Rakers
  </div>
</div>


<div class="row">

  <!-- Left Column -->

  <div class="span12">
    <% if playlist_member_or_creator?(@playlist) %>

      <div class="row">
        <div id="add-song-bar" class="span12">
          <div class="alert-message block-message success fade in" data-alert="alert">
            <%= render "songs/form" %>
          </div>
        </div>
      </div>

    <% else %>

      <div class="row">
        <div class="span12 become-raker-text">
          <div class="alert-message block-message info fade in" data-alert="alert">
            <h3>Become a Raker and add songs or vote on others!</h3>
            <div class="span2 become-raker-button">
              <%= form_tag :controller => "playlists", :action => "join" do %>
                <%= hidden_field_tag "playlist_id", @playlist.id %>
                <%= submit_tag "Become a Raker", :class => "btn success"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

    <%= render "flash_messages/notice" %>

    <!-- Latest/Most Popular Tabs -->

    <div class ="row">
      <div class="span12">
        <ul class="tabs">
          <li id="latest-tab"><a href="<%= playlist_path(@playlist.id) %>"><strong>Latest</strong></a></li>
          <li id="most-popular-tab"><a href="<%= playlist_most_popular_songs_path(@playlist_id) %>"><strong>Most Popular</strong></a></li>
          <script type="text/javascript">
            <% if controller.action_name == "most_popular" %>
            $('#most-popular-tab').addClass('active');
            <% else %>
            $('#latest-tab').addClass('active');
            <% end %>
          </script>
        </ul>
      </div>
    </div>

    <% if @playlist.songs.length > 0 %>

      <!-- Song Table Header --> 

      <div class="row">
        <div class="span12">
          <div class="row song-table-title">
            <div class="span4 offset1"><p>Song Name</p></div>
            <div class="span4"><p>Artist</p></div>
            <div class="span3"><p>Raker</p></div>
          </div>
        </div>
      </div>

    <% end %>

    <div class="row">

      <% if @playlist.songs.length > 0 %>

        <!-- List of songs -->

        <div class="span12">
          <div class="row">
            <div class="span12">
              <% @songs.each do |s| %>
                <div class="<%= cycle('odd_song', 'even_song')%> playlist-song-item">
                  <%= render :partial => "songs/song", :locals => {:song => s, :playlist => @playlist} %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

      <% else %>

        <div class="span11 offset1">
          <h3>No songs have been added yet! Be the first Raker to add a song.</h3>
        </div>

      <% end %>

    </div>
  </div>


  <!-- Right Column -->

  <div class="span4">
    <div class="sidebar">
      <div class="row">
        <div class="span4">

          <% if !@playlist.description.blank? %>
            
            <h3>Rake Description</h3>
            <table class="rakers">
              <tbody><tr><td><%= @playlist.description %></td></tr></tbody>
            </table>

          <% end %>

          <h3>Head Raker</h3>
          <table class="rakers">
            <tbody>
            <tr><td><%= link_to "#{@creator.username}", user_profile_path(@creator.id) %></td></tr>
            </tbody>
          </table>

          <h3>Rakers</h3>
          <table class="rakers">
            <tbody>

            <% if @members.size > 0 %>

              <% @members.each do |m| %>
                <tr><td><%= link_to "#{m.username}", user_profile_path(m.id) %></td></tr>
              <% end %>

            <% else %>

              <tr><td>No other Rakers at this moment. Invite your friends to come join this Rake!</td></tr>

            <% end %>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $("a[rel=twipsy]").twipsy({
      live: true
    })
  })
</script>


