<p id="notice"><%= notice %></p>

<h1><%= @playlist.name %></h1>

<h3>Submit a song</h3>
<br>
<%= render "songs/form" %>

<h3>Song list</h3>
<br>
<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
<% @playlist.songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= song.artist %></td>
  </tr>
<% end %>
  </tbody>
</table>