<!DOCTYPE html>
<html lang="en">
<head>
  <title>SongRake</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div class="topbar">
  <div class="fill">
    <div class="container">

      <% if user_signed_in? %>
        <%= link_to "SongRake", user_profile_path(current_user.id), :class => "brand" %>
      <% else %>
        <%= link_to "SongRake", root_path, :class => "brand" %>
      <% end %>

      <ul class="nav pills">
        <li><%= link_to "Browse", playlists_url %></li>
        <li>
          <a href="#"
             data-controls-modal="playlist-form-modal"
             data-backdrop="true"
             data-keyboard="true">Create</a>
        </li>
      </ul>
      <div id="user-login" class="pull-right">

        <% if user_signed_in? %>
          Welcome <%= current_user.username %>!
          <%= link_to('My Profile', user_profile_path(current_user), :class => "topbar-link") %> |
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "topbar-link") %>
        <% else %>
          <%= link_to('Login', new_user_session_path, :class => "topbar-link")  %> |
          <%= link_to('Sign up', new_user_registration_path, :class => "topbar-link") %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="content">
    <%= yield %>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <%= link_to "About", about_path %>
    </div>
  </div>
</div>

<%= render :partial => "playlists/form_modal", :locals => {:playlist => Playlist.new} %>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27550707-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
